<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bluetoothtemperaturesubmitter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/btslogo"
        android:label="@string/app_name"
        android:logo="@drawable/btslogo"
        android:roundIcon="@drawable/btslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:screenOrientation="portrait"
        android:usesCleartextTraffic="true">
        <activity android:name=".InputTemperature"></activity>
        <activity android:name=".MainNavigationPager"></activity>
        <activity android:name=".group.Group_create" />
        <activity android:name=".group.Group_join" />
        <activity android:name=".group.Group_manage_member" />
        <activity android:name=".group.Group_manage_notion" />
        <activity android:name=".User.User_temperature_log" />
        <activity android:name=".User.Measured_body_tempreture" />
        <activity android:name=".User.MainPageActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>